---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Header />
	</body>
<Layout>

	<h1 class="overskrift_1">Onanerer du? Bare rolig, det gør vi andre også.</h1>

	
	<p class="explain">Unge piger og kvinder onanerer. Men hvorfor er det så svært at snakke om? Her hos GirlTalk har vi snakket med en række kvinder i alderen 16-24 år, som fortæller om deres forhold til kroppen, onani og hvordan man elsker sig selv bedst. </p>
	<img src="Vector-3.png" alt="">
	<img src="Vector-11.png" alt="" class="vector_11">

	<div class="item item-a"> 
		<div class="spacer"></div>
	<h2 class="overskrift">Emilie, 22 år.</h2>
	<p><span class="fed">Hvor tit onanerer du?</span> Det er meget forskelligt. Nogle gange mere end andre. Jeg gør det nok mest, når jeg er stresset, for det hjælper mig virkelig meget med at slappe af. Jeg havde en periode, hvor jeg ikke sov særlig godt om natten - og der hjalp det vildt meget!</p>

	<p><span class="fed">Skammer du dig over at onanere?</span> Jeg kan til tider godt føle, at det er skamfuldt at snakke om onani. Det har altid været en “drenge-ting”, men efter jeg er blevet ældre har mine veninder og jeg fået et mere afslappet forhold til sex og onani. Når min roomie onanerer skriver hun det lige, så jeg ikke går ind på hendes værelse - haha! </p>
		
	<p><span class="fed">Hvilke effekter har onani på dit selvværd?</span> Onani har hjulpet mig meget gennem tiden. Jeg startede med at onanere, før jeg havde haft sex med nogen, og det gav mig en god følelse af hvad jeg kunne lide. Det betød for mig, at sex hurtigt blev nice, og jeg fortæller gerne min partner, hvad der føles godt. </p>
	<div class="spacer"></div>
</div>

<img src="Vector-3.png" alt="" class="vector3">
	<!--  -->
	<h1>Vidste du at . . .</h1>
	<div class="procent">
		<h1>87%</h1>
		<h1>27%</h1>
	</div>

	<div class="viden">
		<p>af kvinder har prøvet at onanere.</p>
		<p>af kvinder ønsker ikke at deres partner ved, at de onanerer.</p>
	</div>

	<img src="Vector-10.png" alt="" class="vector10">


	<h1>Hvad er onani egentlig?</h1>
	<p class="on">Onani betegner den seksuelle tilfredsstillelse, man giver sig selv gennem berøring af egne kønsorganer. I sexologiens verden kaldes onani for selvstimulering.

		Oftest vil onani ske samtidig med, at man har seksuelle fantasier eller ser pornografisk materiale, men det kan også være, at man blot nyder den fysiske stimulation i sig selv.
		Onani er beskrevet nedenfor med udgangspunkt i hhv. kvinder og mænd, men det kan naturligvis også gøre sig gældende for personer, der har en anden kønsidentitet.</p>

		<img src="Vector-11.png" alt="" class="vector11">

		<div class="item item-b"> 
			<div class="spacer"></div>
		<h2>Klara, 19 år.</h2>
		<p><span class="fed">Skammer du dig over at onanere?</span>Jeg skammer mig ikke som sådan over at onanere, men jeg kan da godt mærke at det stadig er en smule akavet at tale om, og det føles på en eller anden måde lidt forkert.</p> 

			<p><span class="fed">Hvilke effekter har onani på dit selvværd?</span>Jeg synes at jo ældre jeg er blevet, jo bedre er jeg blevet til at nyde det fuldt ud. Og egentlig har det også gjort at jeg kender min krop bedre og ved hvad der egentlig er rart for mig. </p>
			<div class="spacer"></div>
		</div>

		<img src="Vector-1.png" alt="" class="vector1">

			<h1 class="vidste1">Vidste du at . . .</h1>
			<div class="fact">
				<div class="first">
					<img src="public/appelsin.png" alt="">
				<p>Onani kan hjælpe, hvis man ikke kan sove.</p>
			</div>

			<div class="first">
				<img src="public/satys.png" alt="">
			<p>Onani kan sænke risikoen for type 2 diabetes.</p>
		</div>

		<div class="first">
			<img src="public/vib.png" alt="">
		<p>Onani kan sænke risikoen for depression og stress.</p>
	</div>

	<div class="first">
		<img src="public/appel.png" alt="">
	<p>Onani kan hjælpe med at forhindre infektioner i livmoder og urinrøret.</p>
</div>

<div class="first">
	<img src="public/papaya.png" alt="">
<p>Onani kan hjælpe mod hovedpine.</p>
</div>

<div class="first">
	<img src="public/vib_2.png" alt="">
<p>Onani kan hjælpe med at lære ens krop at kende.</p>
</div>
</div>

<h1>Hvilket sexlegetøj passer til dig?</h1>
<p>Tag testen hos Peech her. Husk aldrig at føle dig presset til noget, og at sexlegetøj handler om hvad du synes er lækkert og nice!</p>

<div class="lege">
	<img src="public/vib.png" alt="" class="nr1">
	<img src="public/satys.png" alt="" class="nr2">
	<img src="public/vib_2.png" alt="" class="nr3">
</div>

<video class="video" src="video.mp4" controls></video>

<img src="Vector-1.png" alt="" class="vector1_">
<img src="Vector-14.png" alt="" class="vector14">

<div class="item item-c"> 
	<div class="spacer"></div>
<h2>Pernille, 17 år.</h2>
<p><span class="fed">Skammer du dig over at onanere?</span>Jeg skammer mig på ingen måde! Alle onanerer, ingen snakker om det. Jeg er ligeglad - det får mig til at slappe af, og det er dejligt. </p>

<p><span class="fed">Hvilke effekter har onani på dit selvværd?</span>Jeg bruger onani som en måde at slappe af på, men også en måde at styrke mit selvværd på. Jeg har fået et meget bedre forhold til min krop og måden jeg ser ud på. Det er trods alt bare en krop, og sådan en har vi alle sammen.</p>
<img src="satys.png" alt="" class="saty">
<div class="spacer"></div>

</div>


</Layout>

</html>



