body {
  background-color: #ffc3d9;
}

h1 {
  font-family: "obviously";
  font-size: 34px;
  color: #3023b0;
  text-transform: uppercase;
}

p {
  font-family: "archivo-variable", sans-serif;
  font-variation-settings: "wdth" 100, "wght" 100;
  line-height: 1.4rem;
}

h2 {
  font-family: "obviously";
  color: #3023b0;
  font-weight: 500;
}

.fed {
  font-variation-settings: "wdth" 100, "wght" 500;
}

main {
  margin: 20px;
}

/*VECTOR*/

.vector12 {
  margin-left: 20px;
  margin-top: -10px;
}

.vector6 {
  width: 50px;
  margin-top: 20px;
}

.vector3,
.vector11,
.vector14,
.vector1_,
.saty,
.vector0 {
  display: flex;
  margin-left: auto;
  margin-top: -10px;
  margin-right: 20px;
}

.vector0 {
  width: 40px;
}

.vector3 {
  margin-top: -107px;
}

.vector14 {
  width: 80px;
}

.vector10 {
  width: 40px;
}

.vector_11 {
  margin-bottom: 100px;
}

.vector7 {
  display: none;
}

.video2 {
  margin-bottom: 100px;
}

.vector_11,
.vector12,
.vector3,
.vector6,
.vector11,
.vector14 {
  animation: rotate_self 4s linear infinite; /* Brug en ny animationsfunktion */
}

/*******************************************/

/*ILLUSTRATIONER*/

.first img {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -20px;
}

.nr1 {
  height: 210px;
}

.nr2 {
  height: 140px;
}

.nr3 {
  height: 160px;
  margin-top: 30px;
}

.item-a {
  background: hsl(60, 60%, 61%);
  background-image: url("billede.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: -27px;
}

.item-b {
  background: hsl(60, 60%, 61%);
  background-image: url("Billede2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: -27px;
}

.item-c {
  background: hsl(60, 60%, 61%);
  background-image: url("Billede3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: -27px;
}

.vib_first {
  width: 80px;
  margin-top: -30px;
}

.vib_1 {
  display: flex;
  justify-content: center; /* Centrerer elementer vandret */
  margin: 0 auto;
  transform: rotate(30deg);
  width: 60px;
}

.video,
.video2 {
  display: flex;
  justify-content: center; /* Centrerer elementer vandret */
  border-radius: 20px;
  height: 174px;
  width: 310px;
  box-shadow: 7px 7px #ed4a5a;
}

.saty,
.vib_1 {
  animation: rotate_and_vibrate 0.1s alternate infinite; /* Hurtig animation med vibrationseffekt */
}

/*******************************************/

/*KEYFRAMES*/

@keyframes rotate_self {
  0% {
    transform: rotate(0deg); /* Startposition */
  }
  100% {
    transform: rotate(360deg); /* Slutposition */
  }
}

@keyframes rotate_and_vibrate {
  0% {
    transform: rotate(0deg) translateX(-1px); /* Startposition, roterer 0 grader og flytter 1px mod venstre */
  }
  50% {
    transform: rotate(-5deg) translateX(1px); /* Halvvejspunkt, roterer 5 grader mod uret og flytter 1px mod højre */
  }
  100% {
    transform: rotate(0deg) translateX(-1px); /* Slutposition, tilbage til start */
  }
}

/*******************************************/

/*ITEM*/

.item-a p,
.item-a h2,
.item-b p,
.item-b h2,
.item-c p,
.item-c h2 {
  margin: 20px;
}

/*******************************************/

.procent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: -60px;
  margin-top: -40px;
  gap: 30px;
}

.procent h1 {
  font-size: 60px;
}

.fact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 70px;
}

.lege {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 60px;
}

.viden {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.spacer {
  height: 100vh;
}

.overskrift_1 {
  margin-bottom: 40px;
}

.vidste {
  margin-top: 60px;
}

@media (min-width: 800px) {
  h1 {
    font-size: 60px;
  }

  p {
    font-variation-settings: "wdth" 400, "wght" 400;
    font-size: 20px;
    line-height: 30px;
  }

  body {
    max-width: 1100px;
    margin: 10px auto;
  }

  .overskrift_1 {
    margin-bottom: 100px;
  }

  .explain {
    margin-bottom: 230px;
  }

  .fact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 70px;
    margin-bottom: 100px;
  }

  .fed {
    font-variation-settings: "wdth" 100, "wght" 1000;
  }

  /*VECTOR*/

  .vector3 {
    width: 200px;
    margin-top: 100px;
  }

  .vector1_ {
    margin-top: -140px;
  }

  .vector_11 {
    margin-top: -100px;
  }

  .vector7 {
    display: block;
  }

  .vector1 {
    margin-top: 160px;
  }

  .vector12 {
    display: flex;
    justify-content: center; /* Centrerer elementer vandret */
    margin: 0 auto;
    transform: rotate(30deg);
    width: 200px;
  }

  .vector0 {
    width: auto;
    margin-top: -100px;
  }

  .vector6 {
    width: auto;
  }

  /********************************************/

  /*ITEM*/

  .item-a,
  .item-b,
  .item-c {
    margin: -188px;
  }

  .item-c {
    margin-top: 100px;
  }

  .item-a p,
  .item-a h2,
  .item-b p,
  .item-b h2,
  .item-c p,
  .item-c h2 {
    margin: 20px 200px 20px 200px;
  }

  /********************************************/

  /*ILLUSTRATIONER*/

  .at {
    margin-top: -50px;
  }

  .lege {
    margin-bottom: 100px;
  }

  .nr1 {
    width: 80px;
    height: auto;
  }

  .nr2 {
    width: auto;
    height: 200px;
    margin-top: 100px;
  }

  .nr3 {
    width: auto;
    height: 200px;
    margin-left: 100px;
  }

  .saty {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-right: 60px;
  }

  .first img {
    height: 160px;
  }

  .vib_1 {
    width: 80px;
  }

  .vib_first {
    display: none;
  }

  /********************************************/

  /*VIDEO*/

  .video,
  .video2 {
    height: 563px;
    width: 1000px;
    box-shadow: 30px 30px #ed4a5a;
    margin-bottom: 150px;
  }

  .video2 {
    margin-bottom: 320px;
  }

  /**********************************************/
}
