body {
  background-color: #ffc3d9;
}

h1 {
  font-family: "obviously";
  font-size: 34px;
  color: #3023b0;
  text-transform: uppercase;
}

p {
  font-family: "archivo-variable", sans-serif;
  font-variation-settings: "wdth" 100, "wght" 100;
  line-height: 1.4rem;
}

h2 {
  font-family: "obviously";
  color: #3023b0;
  font-weight: 500;
}

.fed {
  font-variation-settings: "wdth" 100, "wght" 500;
}

main {
  margin: 20px;
}

.procent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: -60px;
  margin-top: -40px;
  gap: 30px;
}

.procent h1 {
  font-size: 60px;
}

.fact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 70px;
}

.first img {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -20px;
}

.lege {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 60px;
}

.nr1 {
  height: 210px;
}

.nr2 {
  height: 140px;
}

.nr3 {
  height: 160px;
  margin-top: 30px;
}

.viden {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.item-a {
  background: hsl(60, 60%, 61%);
  background-image: url("billede.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: -27px;
}

.item-a p,
.item-a h2,
.item-b p,
.item-b h2,
.item-c p,
.item-c h2 {
  margin: 20px;
}

.item-b {
  background: hsl(60, 60%, 61%);
  background-image: url("Billede2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: -27px;
}

.item-c {
  background: hsl(60, 60%, 61%);
  background-image: url("Billede3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: -27px;
}

.spacer {
  height: 100vh;
}

.overskrift_1 {
  margin-bottom: 40px;
}

.vidste {
  margin-top: 60px;
}

.vector3,
.vector11,
.vector14,
.vector1_,
.saty {
  display: flex;
  margin-left: auto;
  margin-top: -10px;
}

.vector14 {
  width: 80px;
}

.vector10 {
  width: 40px;
}

.vector_11 {
  margin-bottom: 100px;
}

.video {
  display: flex;
  justify-content: center; /* Centrerer elementer vandret */
  border-radius: 20px;
  height: 174px;
  width: 310px;
  box-shadow: 7px 7px #ed4a5a;
}

@media (min-width: 800px) {
  h1 {
    font-size: 60px;
  }

  p {
    font-variation-settings: "wdth" 400, "wght" 400;
    font-size: 20px;
    line-height: 30px;
  }

  body {
    max-width: 1100px;
    margin: 10px auto;
  }

  .item-a,
  .item-b,
  .item-c {
    margin: -188px;
  }

  .item-a p,
  .item-a h2,
  .item-b p,
  .item-b h2,
  .item-c p,
  .item-c h2 {
    margin: 20px 200px 20px 200px;
  }

  .overskrift_1 {
    margin-bottom: 100px;
  }

  .explain {
    margin-bottom: 230px;
  }

  .vector_11 {
    margin-top: -100px;
  }

  .on {
    margin-bottom: 150px;
  }

  .fact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 70px;
  }

  .vidste1 {
    margin-top: 100px;
  }

  .lege {
    margin-bottom: 100px;
  }

  .nr1 {
    width: 80px;
    height: auto;
  }

  .nr2 {
    width: auto;
    height: 200px;
    margin-top: 100px;
  }

  .nr3 {
    width: auto;
    height: 200px;
    margin-left: 100px;
  }

  .saty {
    display: flex;
    margin-right: auto;
    margin-top: -10px;
  }

  .video {
    height: 563px;
    width: 1000px;
    box-shadow: 30px 30px #ed4a5a;
    margin-bottom: 150px;
  }
}
